<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTravelAdvisor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .table {
            font-size: 14px;
        }


        .table th, .table td {
            padding: 5px;
            vertical-align: middle;
            border-top: 1px solid #ddd;
        }

        .table th {
            font-weight: bold;
            text-align: center;
        }


        .table td {
            text-align: center;
            cursor: pointer;
        }

    </style>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">MyTravelAdvisor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center">
    <h1>WELCOME </h1>
    #if($loggedUser != "Anonymous")
      <h5>Hello, $loggedUser </h5>
    #end
</div>
<div class="container">

    <div class="row">
        <label for="findHotels">Find Hotels:</label>
<!--        add enter key event -->
        <input type="text" id = "hotelText" placeholder="Enter hotel text" width="200px" onkeyup="if(event.keyCode == 13) findHotels()">
        <input type="button" id = "findHotels" class="btn btn-primary" value="Find Hotels"  onclick="findHotels()">
    </div>

    <div class="row">
        <div class="col-lg-9">
            <table class="table table-striped" id="hotelTable">
                <thead>
                <tr>
                    <th>Hotel ID</th>
                    <th>Hotel Name</th>
                    <th>Hotel Address</th>
                </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            #if ($favHotels.size() > 0)
            <ul id="favHotels">
                <h3>Favourites</h3>
                #foreach($hotel in $favHotels)
                    <a href="/hotelInfo?hotelId=$hotel.id"><li id="$hotel.id">$hotel.name</li></a>
                #end
            </ul>
            #else
                <h3>No Favourites</h3>
            #end



        </div>
    </div>
</div>
<script>
        function logout() {
            fetch('/logout', {method :'get'}).
            then(data => {
                window.location.href = "/login";
             }).
            catch(err => {
              console.log(err);
            });
        }


        document.getElementById("hotelTable").addEventListener("click", function(e) {
            if (e.target && e.target.nodeName == "TD") {
                var hotelId = e.target.parentNode.getAttribute("hotelId");
                window.location.href = "/hotelInfo?hotelId=" + hotelId;
                }
        });


        function findHotels(){

        fetch('/hotels?sub=' + document.getElementById("hotelText").value, {method :'get'}).
            then(data => {
                return data.json();
             }).
            then(data => {
                data = data.hotels;
                var table = document.getElementById("hotelTable");
                var tbody = table.getElementsByTagName("tbody")[0];
                tbody.innerHTML = "";
                for (var i = 0; i < data.length; i++) {
                    var row = tbody.insertRow(i);
                    row.setAttribute("hotelId", data[i].hotelId);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    cell1.innerHTML = data[i].hotelId;
                    cell2.innerHTML = data[i].name;
                    cell3.innerHTML = data[i].addr;
                }
             }).
            catch(err => {
              console.log(err);
            });

        }

    </script>

</body>
</html>
