<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Hotel Details</title>

    <script>



    </script>
    <style>
        .table {
            font-size: 14px;
        }


        .table th, .table td {
            padding: 5px;
            vertical-align: middle;
            border-top: 1px solid #ddd;
        }

        .table th {
            font-weight: bold;
            text-align: center;
        }


        .table td {
            text-align: center;
        }







    </style>
</head>
<body>
<!--// navigation bar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">MyTravelAdvisor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center">
    <div class="row">
        <div class="col-lg-8 ">
            <h2>$name </h2>
            <h3>Address -$address</h3>
            <h3>Avg. Rating - $avgRating</h3>
            <a href="$link">Expedia link</a>
            #if($loggedUser != "anonymous")
            <h5>Hello, $loggedUser </h5>
            #end

        </div>
        <div class="col-lg-4">

                <h3>Add a review</h3>

                <form action="/hotelInfo?hotelId=$hotelId" method="post">
<!--                    <div class="form-group">-->
<!--                        <label for="reviewId">Review Id:</label>-->
<!--                        <input type="text" class="form-control" id="reviewId" name="reviewId">-->
<!--                    </div>-->
                    <div class="form-group">
                        <label for="reviewTitle">Review Title:</label>
                        <input type="text" class="form-control" id="reviewTitle" name="reviewTitle">
                    </div>
                    <div class="form-group">
                        <label for="reviewText">Review Text:</label>
                        <input type="text" class="form-control" id="reviewText" name="reviewText">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
        </div>

    </div>
</div>

<div class="container" style="text-align: center">

    <hr>
    <h2>Reviews</h2>
    <table class="table table-striped" id="reviewTable">

        <thead>
        <tr>
            <th>Review ID</th>
            <th>Review Title</th>
            <th>Review Text</th>
            <th>User</th>

        </tr>
        </thead>
        <tbody>
        #foreach($review in $reviews)
        <tr>
            <td>$review.getReviewId()</td>
            <td>
                #if($loggedUser == $review.getUserNickname())
                    <span  data-toggle="tooltip" data-placement="top" title="Edit review" style="cursor:pointer;"><a href="/editReview?reviewId=$review.getReviewId()&hotelId=$hotelId"><span class="glyphicon glyphicon-pencil" ></span></a></span>
                #end
                $review.getTitle()
            </td>

            <td>$review.getReviewText()</td>
<!--            <td>$review.getRatingOverall()</td>-->

            <td>$review.getUserNickname()</td>


<!--            <td><span class="glyphicon glyphicon-pencil" ></span></td>-->
        </tr>
        #end
        </tbody>

    </table>



</div>


</body>
</html>