<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <title>Hotel Details</title>

    <script>



        function toggleFavourite(){

        var addedToFavourite = document.getElementById("blankFavorite").getAttribute("hidden");

        if(addedToFavourite != null){
            addedToFavourite = true;
        }else{
            addedToFavourite = false;
        }
        let actionFavourite = addedToFavourite ? "removeFromFavourite" : "addToFavourite";

                fetch(`/userActions?hotelId=$hotelId&action=${actionFavourite}` , {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    if(data.success){
                        if(addedToFavourite){
                            alert("Removed form favourites.");
                            document.getElementById("blankFavorite").removeAttribute("hidden");
                            document.getElementById("filledFavorite").setAttribute("hidden", "true");
                        }else{
                            alert("Added to favourites.");
                            document.getElementById("blankFavorite").setAttribute("hidden", "true");
                            document.getElementById("filledFavorite").removeAttribute("hidden");
                        }
                    }
                    else{
                        alert("Error performing action on favorites");
                    }

                }).catch(function(err) {
                    console.log(err);
                });
        }

        // https://api.open-meteo.com/v1/forecast?latitude=1.2&longitude=1.4&current_weather=true

        function fetchWeather(){
            document.getElementById("weather").innerHTML = "Updating weather info...";

            fetch(`/userActions?hotelId=$hotelId&action=fetchWeather` , {
                method: 'GET',
                mode : 'cors',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                document.getElementById("weather").innerHTML = `Temperature: ${data.data.temperature}°C, Windspeed: ${data.data.windspeed}m/s`;
            }).catch(function(err) {
                console.log(err);
            });



        }

    </script>
    <style>

    .card {
        transition: all 0.3s;
    }


    .card {
        margin: 10px;
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1.2rem;
    }




    #map { height: 250px;
        width: 100%;}

        .star{
        cursor: pointer;
        }
        .table {
            font-size: 14px;
        }


        .table th, .table td {
            padding: 5px;
            vertical-align: middle;
            border-top: 1px solid #ddd;
        }

        .table th {
            font-weight: bold;
            text-align: center;
        }


        .table td {
            text-align: center;
        }







    </style>
</head>
<body>
<!--// navigation bar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">MyTravelAdvisor</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add new Review</h4>
            </div>
            <div class="modal-body">
                <form action="/review?hotelId=$hotelId" method="post">
                    <div class="form-group">
                        <label for="reviewTitle">Review Title:</label>
                        <input type="text" required class="form-control" id="reviewTitle" name="reviewTitle">
                    </div>
                    <div class="form-group">
                        <label for="reviewText">Review Text:</label>
                        <input type="text" required class="form-control" id="reviewText" name="reviewText">
                    </div>
                    <div class="form-group">
                        <label for="reviewText">Review Rating:</label>
                        <input type="number" required min="0" max="5" value="3" class="form-control" id="reviewRating" name="reviewRating">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="action" value="add">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-2">
                <span class="star" id="filledFavorite" hidden onclick="toggleFavourite()"><img src="https://img.icons8.com/ios/50/000000/star-filled.png" width="50" height="50"></span>
                <span class="star" id="blankFavorite" onclick="toggleFavourite()"><img src="https://img.icons8.com/ios/50/000000/star.png" width="50" height="50"></span>
        </div>

        <div class="col-lg-8 ">
            <h2>$name </h2>
            <h3>Address - $address</h3>
            <h3>Avg. Rating - $avgRating</h3>
            <a href="javascript:fetchWeather();" id="weather" >Fetch latest weather</a>
            <a href=""></a>
            <br>
            <a  onclick="addHistory()" href="$link" target="_blank">Expedia link</a>

            #if($loggedUser != "anonymous")
            <h5>Hello, $loggedUser </h5>
            #end
        </div>
        <div id="map_location" class="col-lg-2">
            <a id="show_map" href="javascript:showMap();">Show map</a>
            <a id="hide_map" hidden href="javascript:hideMap();">Hide map</a>

        </div>
    </div>
</div>

<div class="container">
    <hr>
    <row class="d-flex justify-content-center">
        <button class="btn btn-primary" value="Add a review" data-toggle="modal" data-target="#addReviewModal">Add a review</button>
    </row>
    <hr>

    #if ($totalPages > 0)
        <div class="row d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javascript:previewsPage()">Previous</a></li>
                    #foreach( $i in [1..$totalPages] )
                        <li class="page-item"><a class="page-link" href="javascript:fetchReviews($i)">$i</a></li>
                    #end
                    <li class="page-item"><a class="page-link" href="javascript:nextPage()">Next</a></li>
                </ul>
            </nav>
        </div>
        <div id="reviews" class="card m-4"></div>
    #else
        <h2>No Reviews</h2>
    #end

</div>

<script>


        function addHistory(){

            fetch(`/userActions?action=addHistory&hotelId=$hotelId`)
            .then(response => response.json())
            .then(data => {
                console.log("History tracked");
            })

        }


let pageCounter = 1;
let totalPages = $totalPages;

        function nextPage() {
            if (pageCounter < totalPages) {
                pageCounter++;
                fetchReviews(pageCounter);
            }

        }
        function previewsPage() {
            if (pageCounter > 1) {
                pageCounter--;
                fetchReviews(pageCounter);
            }
        }


    function isHotelFavourite(){

        fetch("/userActions?hotelId=$hotelId&action=isHotelFavourite")
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById("filledFavorite").hidden = false;
                    document.getElementById("blankFavorite").hidden = true;
                } else {
                    document.getElementById("filledFavorite").hidden = true;
                    document.getElementById("blankFavorite").hidden = false;
                }
            });
    }

    isHotelFavourite();


    function fetchReviews(page) {
          pageCounter = page
          fetch(`/hotelInfo?hotelId=$hotelId&page=${page}&action=fetchReviews`,{method:"POST"})
              .then(response => response.json())
              .then(data => {
                  if(data.success){
                        let reviews = document.getElementById("reviews");
                        reviews.innerHTML = "";
                        data.reviews.forEach(review => {
                            let card = document.createElement("div");
                            card.className = "card m-4";
                            let cardHeader = document.createElement("div");
                            cardHeader.className = "card-header";
                            let cardBody = document.createElement("div");
                            cardBody.className = "card-body";
                            let cardFooter = document.createElement("div");
                            cardFooter.className = "card-footer text-muted text-right";

                            let title = document.createElement("h5");
                            title.className = "card-title";
                            title.innerText = review.reviewTitle;

                            let reviewText = document.createElement("p");
                            reviewText.className = "card-text";
                            reviewText.innerText = review.reviewText;

                            let userNickname = document.createElement("p");
                            userNickname.className = "card-text";
                            let small = document.createElement("small");
                            small.className = "text-muted";
                            small.innerText = "- " + review.userNickname;
                            userNickname.appendChild(small);

                            let reviewSubmissionDate = document.createElement("p");
                            reviewSubmissionDate.className = "card-text";

                            // 2016-08-16T18:38:29Z
                            let month = review.reviewDate.substring(5,7);
                            let day = review.reviewDate.substring(8,10);
                            let year = review.reviewDate.substring(0,4);
                            reviewSubmissionDate.innerText = review.reviewDate.substring(11,16) + "   " + month + "/" + day + "/" + year;

                            let stars = document.createElement("div");
                            for (let i = 0; i < review.reviewRating; i++) {
                                let star = document.createElement("span");
                                star.className = "star";
                                let img = document.createElement("img");
                                img.src = "https://img.icons8.com/ios/50/000000/star-filled.png";
                                img.width = 20;
                                img.height = 20;
                                star.appendChild(img);
                                stars.appendChild(star);
                            }

                            let edit = document.createElement("a");
                            edit.style.cursor = "pointer";
                            edit.href = "/review?hotelId=$hotelId&reviewId=" + review.reviewId;
                            edit.title = "edit";
                            edit.className = "float-right";
                            let editImg = document.createElement("img");
                            editImg.src = "https://img.icons8.com/ios/50/000000/edit.png";
                            editImg.width = 20;
                            editImg.height = 20;
                            edit.appendChild(editImg);

                            cardHeader.appendChild(stars);
                            if (review.userNickname == "$loggedUser") {
                                cardHeader.appendChild(edit);
                            }

                            cardBody.appendChild(title);
                            cardBody.appendChild(reviewText);
                            cardBody.appendChild(userNickname);

                            cardFooter.appendChild(reviewSubmissionDate);

                            card.appendChild(cardHeader);
                            card.appendChild(cardBody);
                            card.appendChild(cardFooter);

                            reviews.appendChild(card);
                        });
                  }
              })
    }


    fetchReviews(1);



        function showMap() {

            var map_location = document.getElementById('map_location');
            var map_div = document.createElement('div');
            map_div.id = 'map';
            map_div.style = 'width: 100%; height: 200px;';
            map_location.appendChild(map_div);

            var map = L.map('map').setView([$hotel.getLatitude(), $hotel.getLongitude()], 16);
            var marker = L.marker([$hotel.getLatitude(), $hotel.getLongitude()]).addTo(map);
            marker.bindPopup("<b>$hotel.name</b>").openPopup();

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);


            document.getElementById("show_map").hidden = true;
            document.getElementById("hide_map").hidden = false;



        }

        function hideMap() {
            var map_location = document.getElementById('map_location');
            var map = document.getElementById('map');
            map_location.removeChild(map);

            document.getElementById("show_map").hidden = false;
            document.getElementById("hide_map").hidden = true;


        }

</script>


</body>
</html>